
@{
    ViewData["Title"] = "Заходи";

}
@model IEnumerable<SmartCityKyiv.Models.Event>

<main>
    @if (User.IsInRole("moderator"))
    {
    <section class="center">
        <a asp-controller="Event" asp-action="Create">
            <h2>Бажаєте створити захід?</h2>
        </a>
    </section>
    }
    @foreach (Event _event in Model)
    {
<section class="news-box">
    <a asp-action="Event" asp-route-id="@_event.Id">
        <h2 class="news-header">@_event.Name</h2>
    </a>
    <p class="event-date"><i>@_event.DateFrom.ToShortDateString() @if (_event.DateTo.HasValue) { @String.Format("- {0}", @_event.DateTo.GetValueOrDefault().ToShortDateString()); }</i></p>
    <p class="news-text">@_event.Description</p>
</section>
    }
</main>

