@model SmartCityKyiv.ViewModels.MainPageViewModel 
@{ ViewData["Title"] = "Головна"; }


<main class="center">
    <div class="slideshow-container">
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
        <div class="slides fade">
          <img src="~/img/kyiv1.png" style="width:90%">
        </div>
        <div class="slides fade">
          <img src="~/img/kyiv2.png" style="width:90%">
        </div>
        <div class="slides fade">
          <img src="~/img/kyiv3.png" style="width:90%">
        </div>
        <div class="slides fade">
          <img src="~/img/kyiv4.png" style="width:90%">
        </div>
        <div class="slides fade">
          <img src="~/img/kyiv5.png" style="width:90%">
        </div>
        <div class="slides fade">
          <img src="~/img/kyiv6.png" style="width:90%">
        </div>
        <div class="slides fade">
          <img src="~/img/kyiv7.png" style="width:90%">
        </div>
        <div class="slides fade">
          <img src="~/img/kyiv8.png" style="width:90%">
        </div>
        <div class="slides fade">
          <img src="~/img/kyiv9.jpg" style="width:90%">
        </div>
        <div class="slides fade">
          <img src="~/img/kyiv10.jpg" style="width:90%">
        </div>
      </div>
</main>


<main class="grid-container border-top">
    <section class="main-news center">
        <a asp-controller="News" asp-action="Index">
            <h2>Останні новини</h2>
        </a>
        @foreach (var article in Model.Articles)
        {
        <section class="news-box">
            <a asp-controller="News" asp-action="Article" asp-route-id="@article.Id">
                <h2 class="news-header">@article.Title</h2>
            </a>
            <p class="event-date"><i>@article.PublicationDate</i></p>
            <p>
            @if (article.Text is not null)
            {
                @article.Text.Split(new char[] { ' ', '\n' }).Take(Math.Min(8, article.Text.Split(new char[] { ' ', '\n' }).Length)).Aggregate((s1, s2) => s1 + " " + s2)
                @if (article.Text.Split(new char[] { ' ', '\n' }).Length > 8)
                {
                    <text>...</text>
                }
            }
            </p>
        </section>
        }
    </section>

    <section class="main-events center">
        <a asp-controller="Event" asp-action="Index">
            <h2>Останні заходи</h2>
        </a>
        @foreach (var Event in Model.Events)
        {
        <section class="news-box">
            <a asp-controller="Event" asp-action="Event" asp-route-id="@Event.Id">
                <h2 class="news-header">@Event.Name</h2>
            </a>
            <p class="event-date"><i>@Event.DateFrom.Value  @if (Event.DateTo.HasValue) { @String.Format("- {0}", Event.DateTo.GetValueOrDefault()); }</i></p>
            <p>
            @if (Event.Description is not null)
            {
                @Event.Description.Split(new char[] { ' ', '\n' }).Take(Math.Min(8, Event.Description.Split(new char[] { ' ', '\n' }).Length)).Aggregate((s1, s2) => s1 + " " + s2);
                @if (Event.Description.Split(new char[] { ' ', '\n' }).Length > 8)
                {
                    <text>...</text>
                }
            }
            </p>
        </section>
        }
    </section>
</main>
